#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  justify-content: center;
  align-items: center;
}

#add-project-wrapper {
  display: none;
  flex-direction: column;
  width: 30%;
  height: 20%;
  background-color: white;
}

#add-project-nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #89d99a;
}

.modal-close {
  width: 15px;
  height: auto;
  color: black;
  cursor: pointer;
}

#add-project-title {
  width: 100%;
  height: 20%;
  resize: none;
  outline: none;
  border: none;
  background-color: #4adf6a;
}

#description-wrapper {
  display: flex;
  height: 70%;
  flex-direction: column;
  background-color: #68a676;
}

#add-project-desc {
  width: 100%;
  height: 80%;
  flex-grow: 3;
  resize: none;
  outline: none;
  border: none;
  background-color: #68a676;
}

#add-project-button-container {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add-task-wrapper {
  display: none;
  flex-direction: column;
  width: 30%;
  height: 35%;
  background-color: #89d99a;
}

#add-task-nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-task-title {
  height: 20%;
  padding: 10px;
  resize: none;
  outline: none;
  border: none;
  background-color: #4adf6a;
}

#add-task-desc {
  height: 40%;
  padding: 10px;
  resize: none;
  outline: none;
  border: none;
  background-color: #68a676;
}

#add-task-date {
  background-color: #257035;
  height: 50px;
  border: 0px;
}

#priority-title {
  padding-top: 2%;
}

#priority-container {
  padding-top: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.prio-button {
  border-radius: 15px;
  border: 0;
  padding: 5px;
}

.prio-button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.prio-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
}

#low-priority {
  background-color: #80a66c;
}

#med-priority {
  background-color: #f2a950;
}

#high-priority {
  background-color: #dd6761;
}

#add-task-button-container {
  margin-top: 5%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-task-button {
  padding: 8px;
  margin: 0 4% 4% 0;
  border-radius: 0.75rem;
  font-size: 16px;
  height: auto;
  background-color: #34ebab;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.15s, transform 0.15s;
}

.add-task-button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.add-task-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
}
