#sidebar {
  width: 20%;
  background-color: #d9d3c7;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 1.2rem;
}

.sidebarOptionWrapper {
  padding: 10px 0 15px 15px;
  margin: 15px;
  transition: all 250ms;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.sidebarOptionWrapper:hover,
.sidebarOptionWrapper:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
  border-color: rgba(0, 0, 0, 0.25);
}

#add-project-button {
  align-items: center;
  background-color: #f8f7f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.75rem;
  justify-content: center;
  line-height: 1.25;
  margin-right: 15px;
  min-height: 1rem;
  padding: calc(0.25rem - 1px) calc(1.2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
}

#add-project-button:hover,
#add-project-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#add-project-button:hover {
  transform: translateY(-1px);
}

#add-project-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#project-wrapper {
  padding: 10px 0 15px 15px;
  margin: 15px 0 15px 15px;

  display: flex;
  justify-content: space-between;
}

#add-project-button {
  width: 35px;
  height: auto;
}

#project-container {
  padding: 5px 0 0 45px;

  display: flex;
  flex-direction: column;
}
